<!DOCTYPE html>
<html lang="en">

<!-- The <head> el holds data about the page. It's not the page's "header!" -->
<head>
  <meta charset="utf-8"><!-- Always first. -->

  <!-- Title and description. -->
  <title>This is the title</title>
  <meta name="description" content="">

  <!-- NOTE:
       Important! Make sure to fix the assets' URIs to be
       absolute paths, and serve them from a local server
       when testing. -->

  <!-- Linked stylesheets. -->
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  
  <!-- Sourced JavaScripts. (can also go at the bottom of the <body>…) -->
  <script src="js/main.js"></script>
</head>

<!-- The <body> el holds the page's content. -->
<body>
  <div class="container">
    <header><!-- This is the page's header! -->
      <h1>A Basic HTML Template</h1>
    </header>
  
    <main>
      <p>What a wonderful page...</p>
      <p>
        Explore it by opening <em>Chrome Dev Tools</em>:
        type <code>⌘⌥-i</code> (Cmd-Opt-I).
      </p>
    </main>
  
    <footer>
      <hr>
      <span>
        See also: <a href="https://html5boilerplate.com">HTML5 Boilerplate</a>, and it's example
          <code><a href="https://github.com/h5bp/html5-boilerplate/blob/master/dist/index.html">index.html</a></code>.
      </span>
    </footer>
  </div><!-- div.container -->
  
  <!-- Sourced JavaScripts. -->
  <!-- <script src="js/main.js"></script> -->
</body>
</html>
