/*The Box Model and its Components*/



/*Inline Vs. Block*/



/*Positioning*/

.square {
  width: 100px;
  height: 100px;
  color: white;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 48px;
}

.spacing-container {
  height: 500px;
  width: 500px;
  background-color: gray;
}

.one {
  background-color: red;
}

.two {
  background-color: blue;
}

.three {
  background-color: green;
}

.four {
  background-color: black;
}

/*Floats*/


